/* .wholecard{
    /* width:337px;
    height: 328px;
    border: 2px solid #000000; */
    /* border-radius: 5px; */
    /* box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.25); */

/* } */ 
/* .map{
    height: 216px;
    overflow-x: hidden;
} */
/* .stats{
    width: 337px;
    height: 112px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
} */
/* .first{
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 12px;
    display: flex;
    justify-content: space-between;
} */

/* .title{
    padding-top: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
} */
/* .icons{
    display: flex;
    justify-content: right;

} */
/* .heart{
    margin-top: 7px;
    height:19px;
    padding-left: 4px;
    padding-right: 4px;

} */

/* .star{
    margin-top: 7px;
    height: 18px;
    stroke-width: 3;
} */

/* .totalLikes{
    margin-top: 8px;
    font-size: 20px;
    display:flex;
    justify-content: flex-start;
    font-weight: bold;
} */

/* .second{
    display: flex;
    padding-top: 5px;
    padding-left: 15px;
} */
/* .startlocation{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #6B6B6B;
} */

/* .arrow{
    width: 11.26px;
    height: 12px;
} */

/* .endlocation{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #6B6B6B;
} */

/* .third{
    display:flex;
    padding-left: 15px;
    padding-top: 8px;
} */

/* .profilepic{
    width: 34px;
    height: 34px;
    left: 122px;
    top: 589px;
} */

/* .userinfo{
    padding-top: 3px;
    padding-left: 5px;
} */
/* .name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
} */

/* .date{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #6B6B6B;
    } */